name: Download and Upload SBOM

# on:
#   workflow_dispatch:


# # NOTE: We would probably want to run this workflow on every push to main and not on pull requests
# # on:
# #   push:
# #     branches:
# #       - main

on:
  pull_request:
    branches:
      - main

jobs:
  process-sbom:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Download SBOM
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GITHUB_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/dependency-graph/sbom \
          -o sbom.json

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v3
      with:
        name: sbom
        path: sbom.json
